<% content_for :head do %>
	<meta name="robots" content="noindex, follow" />
<% end %>  

<h1><%=t :editing_organizer%></h1><br/>

<%= render 'form' %>

<%= link_to t(:show), @organizer %> |
<%= link_to t(:back), organizers_path %>