<h1><%t :organizers_index_title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render Organizer.all %>
  </tbody>

</table>

<br />

<%= will_paginate @organizers %><br />

<br />

<%= link_to t(:new_organizer), new_organizer_path %>
