<% content_for :head do %>
  <title>Weinevents | Weinproben, Weinfeste, Weinparties und andere Weinevents</title>
<% end %>

<h1>The latest wine events</h1>

<%= render 'pages/home' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>

</table>

<br />

<%= will_paginate @events %>

<div id="tag_cloud">
  <% tag_cloud Event.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
