<div class="center hero-unit">
	<h1><%=t :wineevents %></h1>
	<h2><%=t :default_title %></h2>

	<p>
	  <%= link_to t(:join_now), new_user_registration_path, class: "btn btn-large btn-primary" %>
	</p>

</div>