<% content_for :head do %>
  <title> About Weinevents | Weinevents</title>
<% end %>

<h1>Über Weinvents</h1>
<br/>
<p>
  <%= link_to "Weinevents", "http://www.Weinevents.de" %>
  macht es einfach, Weinevents in Deiner Stadt zu finden. 
</p>
<br/> <br/>
Hier findest Du: <br/><br/>
<ul>
<li>Weinproben</li>
<li>Weinseminare</li>
<li>Weinfeste</li>
<li>Weinparties</li>
</ul>

