<div class="center hero-unit">
	<h1>Weinevents</h1>
	<h2> Weinproben, Weinfeste, Weinparties und andere Weinevents</h2>

	<p>
	  <%= link_to "Jetzt anmelden und Weinevents hinzufügen", '#', class: "btn btn-large btn-primary" %>
	</p>

</div>