<tr>  
  <td><%= link_to (sitecity.name), sitecity %></td>
  <td><%= link_to 'Show', sitecity %></td>
	<td><%= link_to 'Edit', edit_sitecity_path(sitecity) %></td>
	<td><%= link_to 'Delete', sitecity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>