<tr>  
  <td><%= link_to (sitecity.name), sitecity %></td>
  <td><%= link_to t(:show), sitecity %></td>
	<td><%= link_to t(:edit), edit_sitecity_path(sitecity) %></td>
	<td><%= link_to t(:delete), sitecity, method: :delete, data: { confirm: t(:sure) } %></td>
</tr>