<% content_for :head do %>
	<meta name="robots" content="noindex, follow" />
<% end %>  

<h1>Editing City</h1>

<%= render 'form' %>

<%= link_to t(:show), @sitecity %> |
<%= link_to t(:back), sitecities_path %>
