<h1><%t :sitecities_index_title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sitecities %>
  </tbody>

</table>

<br />


<%= link_to t(:new_sitecity), new_sitecity_path %>