<% content_for :head do %>
	<meta name="robots" content="noindex, follow" />
<% end %>  

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sitecity.name %>
</p>


<%= link_to t(:edit), edit_sitecity_path(@sitecity) %> |
<%= link_to t(:back), sitecities_path %>
