$redwine: #790000;
$label_white: #FFFAFA;
$label_grey: #DCDCDC;


$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: $redwine;
$linkColor: $redwine;


@import 'bootstrap';



body{
    padding-top: 120px;
}

@import 'bootstrap-responsive';

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.tag_cloud {
  width: auto;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: 'Times New Roman';
}

h1 {
  font-size: 28.5px;
}

h2 {
  font-size: 24.5px;
}

h3 {
  font-size: 20.5px;
}

.navbar .brand {
  color: $redwine;
  font-size: 38.5px;
  padding: 40px;
  font-weight: bold;
}

.navbar .nav {
  padding-top: 35px;
}