<% content_for :head do %>
	<meta name="robots" content="noindex, follow" />
<% end %>  

<h1><%=t :editing_location%></h1><br/>

<%= render 'form' %>

<%= link_to t(:show), @location %> |
<%= link_to t(:back), locations_path %>