<h1><%t :locations_index_title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render Location.all %>
  </tbody>

</table>

<br />

<%= will_paginate Location.all %><br />

<br />

<%= link_to t(:new_location), new_location_path %>
